<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project1</title>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/vue-dev.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
</head>

<body>
    <div id="vueApp">
        <img id="ccaImg" :style="styleObj" class="ccaImg" src="{{ url_for('static', filename='img/3070.jpg') }}">
    </div>
</body>

</html>

<script>
    // 創建Socket
    var socket = io();
    startTime = 0
    DataDelayTime = 0
    var targetElm = document.querySelector('#ccaImg')

    let vm = new Vue({
        el: "#vueApp",
        data: {
            blurValue: [0, 0],
            startTime: [(new Date).getTime(), 0],
            DataDelayTime: [0, 0],
            isLoading: false,
            currenBlurValue : 0,

            styleObj:{
                filter: 'blur(0px)'
            }
        },
        methods: {
            getValue() {
                // 可取得資料時 發送
                if (!this.isLoading) {
                    this.isLoading = true
                    socket.emit('getValue');
                }
            },
            setBlur(){
                setInterval(() => {
                    let _blurDiff = (this.blurValue[0] - this.blurValue[1])
                    if (_blurDiff > 0){
                        if (this.currenBlurValue <= this.blurValue[0]){
                            this.currenBlurValue += (_blurDiff/10)
                        }
                    }
                    else{
                        if (this.currenBlurValue >= this.blurValue[0]){
                            this.currenBlurValue += (_blurDiff/10)
                        }
                    }
                    this.styleObj.filter = `blur(${vm.currenBlurValue}px)`
                }, 50);
            }
        },
        mounted() {

            // 每500毫秒檢查一次是否已可去取得資料
            setInterval(() => {
                this.getValue()
            }, 500);

            // 連線成功時執行  呼叫後端getValue方法
            socket.on('connect', function () {
                socket.emit('getValue');
            });

            // 接收到後端請求，取得資料後設定新圖片
            socket.on('setValue', (e) => {
                // 50公分以內都最模糊   blur(100px)
                // 70公分以內都最模糊   blur(70px)
                // 100公分             blur(20px)
                // 150公分             blur(15px)
                // 200公分             blur(5px)
                // 300公分以上都是      blur(0px)
                // e.data = 公分
                console.log(`Distance:${e.data}`)
                // 公分轉換為模糊度
                if (e.data <= 50)
                {
                    e.data = 100
                }
                else if (e.data > 50 && e.data <= 70 )
                {
                    e.data = 100 - ((3/2)*(e.data-50))
                }
                else if(e.data > 70 && e.data <= 100)
                {
                    e.data = 70 - ((5/3)*(e.data-70))
                }
                else if(e.data > 100 && e.data <= 150)
                {
                    e.data = 20 - ((1/10)*(e.data-100))
                }
                else if(e.data > 150 && e.data <= 200)
                {
                    e.data = 15 - ((1/5)*(e.data-150))
                }
                else if(e.data > 200 && e.data <= 300)
                {
                    e.data = 5 - ((1/20)*(e.data-200))
                }
                else{
                    e.data = 0
                }
                console.log(`Blur:${e.data}`)

                // 資料與資料接收間隔時間
                // 更新資料延遲時間舊[1]
                // 放置於新 資料延遲時間[0]
                this.DataDelayTime[1] = this.DataDelayTime[0]
                this.startTime[1] = this.startTime[0]
                this.startTime[0] = (new Date).getTime()
                this.DataDelayTime[0] = (new Date).getTime() - this.startTime[1]

                // 資料
                this.blurValue[1] = this.blurValue[0]
                this.blurValue[0] = e.data

                // 當前模糊值
                this.currenBlurValue = this.blurValue[1]

                this.isLoading = false
            });

            // 設定模糊
            this.setBlur()
        }
    })
</script>

<style>
    body {
        margin:0px;
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    .ccaImg{
        width:100%; 
        height: 100%;
        margin:0;

    }
</style>